<section class="navbar">
    <div class="container">
        <div class="row">
            <div class="col col-left">
                <div class="logo">
                    <img src="../../assets/ZenduForms.png" alt="">
                </div>
            </div>
            <div class="col col-center">
                <ul>
                    <li><img src="../../assets/Vector.png" alt=""><span>Forms</span></li>
                    <li><img src="../../assets/people.png" alt=""><span>Customers</span></li>
                    <li><img src="../../assets/graphic_eq.png" alt=""><span>Submissions</span></li>
                    <li><img src="../../assets/history.png" alt=""><span>History</span></li>
                    <li><img src="../../assets/graphic_eq.png" alt=""><span>Reports</span></li>
                    <li><img src="../../assets/graphic_eq.png" alt=""><span>Workflow</span></li>
                </ul>
            </div>
            <div class="col col-right">
                <img src="../../assets/notifications.png" alt="">
                <img src="../../assets/logout.png" alt="">
            </div>
        </div>
    </div>
</section>